{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}
{% block script %}
    <script type="application/javascript">
        function validateForm() {
            var u = document.forms["login"]["username"].value;
            var p = document.forms["login"]["password"].value;
            if (p === "") {
                document.forms["login"]["password"].style = "background-color:red;";
                return false;
            } else {
                document.form["login"]["password"].style = "background-color:white;";
            }
        }
    </script>
{% endblock %}
{% block content %}
    <form name="login" method="POST" action="/login/"
          onsubmit="return validateForm();">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    <label for="username">username</label>
                </td>
                <td>
                    <input type="text" oninput="validateForm()" id="username"
                           name="username">
                </td>
            </tr>
            <tr>

                <td>
                    <label for="password">password</label>
                </td>
                <td>
                    <input type="password" oninput="validateForm" id="password"
                           name="password">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="hidden" name="next" value="{{ next }}">

                    <input type="submit">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}