{% extends "base.html" %}
{% block title %}
    {{ Org.Name }}
{% endblock %}
{% block style %}
    <style>
        table, th, td {
            border: 15px solid black;
        }

        .c1 {
            background-color: lightgrey;
        }

        .c2 {
            background-color: lightcoral;
        }

        .c3 {
            background-color: #C79DD7;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>
        {{ Org.Name }}
    </h1>
    {% if loginable %}
        {% if not canseeprovisional %}
            <a href="/org/apply?org_id={{ Org.id }}">apply</a>
        {% else %}
            {% if candelete %}
                <a href="/org/{{ Org.id }}/delete">Delete</a>
            {% endif %}
        {% endif %}
    {% endif %}
    {% autoescape off %}
        {{ Org.Description }}
    {% endautoescape %}
    {% if mem %}
        <h2>Members</h2>
        <table border="1">
            <tr>
                <th>Member's Name</th>
                <th>Positions</th>
            </tr>
            {% for i in mem %}
                {% if i.Provisional %}
                    {% if canseeprovisional %}
                        {% cycle 'c1' 'c2' 'c3' as bc silent %}
                        <tr class="{{ bc }}">
                            <td>{{ i.Name }}</td>
                            <td>
                                Provisional

                            </td>
                        </tr>
                    {% endif %}
                {% else %}
                    {% cycle 'c1' 'c2' 'c3' as bc silent %}
                    <tr class="{{ bc }}">
                        <td>{{ i.Name }}</td>
                        <td>
                            <ul>
                                {% for q in i.position_set.all %}
                                    <li>{{ q.Name }}</li>
                                {% empty %}
                                    N/A
                                {% endfor %}
                            </ul>


                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <h2>Posts</h2>
        <ul>

            {% for c in mem %}
                {% for i in c.post_set.all %}
                    {% if i.Visible %}
                        <li>
                            <a href="/post/{{ i.id }}/view">{{ i.Title }}</a>
                        </li>
                    {% else %}
                        {% if canseeprovisional %}
                            <li>
                                <a href="/post/{{ i.id }}/view">{{ i.Title }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}