{% extends "base.html" %}
<meta charset="UTF-8">
{% block title %}
    {{ Organization_name }} Positions
{% endblock %}
{% block content %}
    {% if usr.CanEditPrivileges %}
        <a href="create">Create Position</a>
    {% endif %}
    <table border="1">
        <tr>
            <th>Position Name</th>
            <th>Can grant membership</th>
            <th>can issue orders</th>
            <th>can edit organization</th>
            <th>can edit privileges</th>
            <th>Active members fulfilling</th>
        </tr>
        {% for i in positions %}
            <tr>
                <td>
                    <!-- Should only show the name of the position if the user has permission to edit-->
                    {% if usr.CanEditPrivileges %}
                        <a href="positions/{{ i.id }}/edit">{{ i.Name }}</a>
                    {% else %}

                        {{ i.Name }}
                    {% endif %}
                </td>
                <td>{% if i.CanGrantMembership %}
                    yes
                {% else %}
                    No
                {% endif %}
                </td>
                <td>
                    {% if i.CanIssueOrders %}
                        yes
                    {% else %}
                        No
                    {% endif %}
                </td>
                <td>
                    {% if i.CanEditOrganization %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </td>
                <td>{% if i.canEditPrivileges %}
                    Yes
                {% else %}
                    No
                {% endif %}
                </td>
                <td>
                    <ul>
                        {% for j in i.associated.all %}
                            <li>
                                {{ j.Name }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% if applicants %}
        <h2>
            Applicants
        </h2>
        <ul>
            {% for i in applicants %}
                <li>
                    <a href="applicant/{{ i.id }}">
                        {{ i.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}